[Unit]
Description=Cloudflare DDNS Updater
After=network.target
StartLimitIntervalSec=30min
StartLimitBurst=3

[Service]
Type=oneshot
Environment=CF_API_EMAIL='{{ cloudflare_ddns_update_email | trim }}'
Environment=CF_API_KEY='{{ cloudflare_ddns_update_api_key | trim }}'
ExecStart=/usr/bin/python3 /usr/sbin/cloudflare-ddns-update.py '{{ cloudflare_ddns_update_zone | trim }}'
StandardOutput=journal
Restart=on-failure
RestartSec=5min
WatchdogSec=30

[Install]
WantedBy=multi-user.target
